
.menu {
  background-color: #252525;
  padding: 8px 0;
}

.menu > div {
  display: flex;
}
.menu-titulo {
  color: white;
  font-family: roboto-slab, serif;
  font-weight: 400;
  font-style: normal;
  margin: auto 10px auto 10px;
}
 

/* .menu-logo{
  bottom: -20px;
} */

.menu-logo img {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.menu-nav {
  flex: 1;
  align-self: center;
}

.menu-nav ul {
	float: right;
	display: flex;
}

.menu-nav li {
  min-width: 85px;
}

.menu-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
	padding: 10px;
}