<div class="agenda">
  <div class="container">
    <ngb-accordion [closeOthers]="true">

      <ngb-panel class="nav-medico" title= "{{pacienteModel.nome}}">
        <ng-template ngbPanelContent>
          1
        </ng-template>
      </ngb-panel>

      <!-- <ngb-panel title="Medico 2">
        <ng-template ngbPanelContent>
          2
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Medico 3">
        <ng-template ngbPanelContent>
          3
        </ng-template>
      </ngb-panel> -->
      
    </ngb-accordion>
  </div>
</div>