<header class="menu">
  <div class="container">
    <div class="menu-logo">
      <a routerLinkActive="active" routerLink="/home">
        <img src="../../assets/header/logo.png" alt="logo">
      </a>
    </div>
    <h3 routerLinkActive="active" routerLink="/home" class="menu-titulo">Agenda Médica</h3>
    <nav class="menu-nav">
      <ul>
        <li><a routerLinkActive="active" routerLink="cadastro">Cadastro</a></li>
        <!-- <li><a href="">Menu 2</a></li>
        <li><a href="">Menu 3</a></li>
        <li><a href="">Menu 4</a></li> -->
      </ul>
    </nav>
  </div>
</header>